.Friends > .List {
  background-color: black;
  height: 80%;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: grey #181c24;
  display: grid;
  grid-template-rows: repeat(8, 12.5%);
  grid-auto-rows: 12.5%;
  row-gap: 2px;
  place-items: center;
}

.Friends > .List::-webkit-scrollbar{
  width: 0.5vw;
}

.Friends > .List::-webkit-scrollbar-track {
  background-color: #181c24;
}

.Friends > .List::-webkit-scrollbar-thumb {
  background-color: grey;
}

.Friends > .List > .Friend {
  background-color: #181c24;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  border-bottom: 2px grey solid;
}