.Friends > .Search {
  height: 10%;
  background-color: #181c24;
  display: grid;
  place-items: center;
  border-bottom: solid 1px gray;
  border-right: solid 1px gray;
}

.Friends > .Search > input {
  all: unset;
  height: 50%;
  width: 90%;
  background-color: #302c34;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 999px;
}