.Messenger .Friends .Header {
  border-right: solid 1px gray;
  height: 10%;
  background-color: #302c34;
  display: -ms-grid;
  display: grid;
  place-items: center;
  color: lightgrey;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
}

.Messenger .Friends .Header button {
  all: unset;
  background-color: #181c24;
  padding: 5px;
  border-radius: 5px;
}

.Messenger .Friends .Header button:hover {
  cursor: pointer;
}

.Messenger .Friends .Header .ModalBackground {
  top: 0;
  left: 0;
  position: absolute;
  z-index: 1;
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0);
}

.Messenger .Friends .Header .ModalBackground .CloseButton {
  color: white;
  z-index: 3;
  position: absolute;
  right: 10px;
  top: 10px;
}

.Messenger .Friends .Header .ModalBackground .CloseButton:hover {
  cursor: pointer;
}

.Messenger .Friends .Header .ModalBackground .OptionsModal button {
  all: unset;
  background-color: lightgrey;
  border-radius: 999px;
  padding: 5px;
}

.Messenger .Friends .Header .ModalBackground .OptionsModal button:hover {
  cursor: pointer;
}

.Messenger .Friends .Header .ModalBackground .ContactModal, .Messenger .Friends .Header .ModalBackground .UserNameModal, .Messenger .Friends .Header .ModalBackground .OptionsModal {
  position: absolute;
  z-index: 2;
  height: 400px;
  width: 300px;
  border-radius: 10px;
  background-color: #302c34;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .InputDiv, .Messenger .Friends .Header .ModalBackground .UserNameModal .InputDiv, .Messenger .Friends .Header .ModalBackground .OptionsModal .InputDiv {
  width: 100%;
  height: 20%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
  border-bottom: 1px solid grey;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .InputDiv input, .Messenger .Friends .Header .ModalBackground .UserNameModal .InputDiv input, .Messenger .Friends .Header .ModalBackground .OptionsModal .InputDiv input {
  all: unset;
  border-radius: 999px;
  width: 80%;
  height: 40%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  background-color: lightgrey;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .InputDiv button, .Messenger .Friends .Header .ModalBackground .UserNameModal .InputDiv button, .Messenger .Friends .Header .ModalBackground .OptionsModal .InputDiv button {
  all: unset;
  margin-right: auto;
  margin-left: 10%;
  width: 60%;
  background-color: lightgrey;
  border-radius: 999px;
  text-align: center;
  padding: 5px;
  color: grey;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .InputDiv button:hover, .Messenger .Friends .Header .ModalBackground .UserNameModal .InputDiv button:hover, .Messenger .Friends .Header .ModalBackground .OptionsModal .InputDiv button:hover {
  cursor: pointer;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .FoundContactsList, .Messenger .Friends .Header .ModalBackground .UserNameModal .FoundContactsList, .Messenger .Friends .Header .ModalBackground .OptionsModal .FoundContactsList {
  height: 80%;
  width: 100%;
  row-gap: 1%;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .FoundContactsList .FoundContact, .Messenger .Friends .Header .ModalBackground .UserNameModal .FoundContactsList .FoundContact, .Messenger .Friends .Header .ModalBackground .OptionsModal .FoundContactsList .FoundContact {
  border-bottom: 1px solid grey;
  display: -ms-grid;
  display: grid;
  place-items: center;
}

.Messenger .Friends .Header .ModalBackground .ContactModal .FoundContactsList .FoundContact div, .Messenger .Friends .Header .ModalBackground .UserNameModal .FoundContactsList .FoundContact div, .Messenger .Friends .Header .ModalBackground .OptionsModal .FoundContactsList .FoundContact div {
  height: 50%;
}

.Messenger .Friends .Header .ModalBackground .UserNameModal, .Messenger .Friends .Header .ModalBackground .OptionsModal {
  height: 100px;
}

.Messenger .Friends .Header .ModalBackground .UserNameModal .InputDiv, .Messenger .Friends .Header .ModalBackground .OptionsModal .InputDiv {
  width: 100%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  -ms-grid-columns: 60% 40%;
      grid-template-columns: 60% 40%;
}

.Messenger .Friends .Search {
  height: 10%;
  background-color: #181c24;
  display: -ms-grid;
  display: grid;
  place-items: center;
  border-bottom: solid 1px gray;
  border-right: solid 1px gray;
}

.Messenger .Friends .Search input {
  all: unset;
  height: 50%;
  width: 90%;
  background-color: #302c34;
  color: white;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 999px;
}

.Messenger .Friends .List {
  height: 80%;
  display: -ms-grid;
  display: grid;
  place-items: center;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-width: thin;
  scrollbar-color: grey #181c24;
  -ms-grid-rows: (12.5%)[8];
      grid-template-rows: repeat(8, 12.5%);
  grid-auto-rows: 12.5%;
  row-gap: 2px;
}

.Messenger .Friends .List::-webkit-scrollbar {
  width: 0.5vw;
}

.Messenger .Friends .List::-webkit-scrollbar-track {
  background-color: #181c24;
}

.Messenger .Friends .List::-webkit-scrollbar-thumb {
  background-color: grey;
}
/*# sourceMappingURL=styles.css.map */