$primary: #302c34;
$secondary: #181c24;
$fontColor: lightgrey;
$inputColor: lightgrey;

@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');


@mixin center {
  display: grid;
  place-items: center;
}

body, html {
  font-family: 'Urbanist', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.Messenger {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%;
  overflow-y: hidden;

  .Friends {

    .Header {
      border-right: solid 1px gray;
      height: 10%;
      min-height: 50px;
      background-color: $primary;
      @include center();
      grid-template-columns: repeat(3, 1fr);

      button {
        all: unset;
        color: $fontColor;
        background-color: #181c24;
        padding: 5px;
        border-radius: 5px;
        &:hover {
          cursor: pointer;
        }
      }

      .ModalBackground {
        top: 0;
        left: 0;
        position: absolute;
        z-index: 1;
        @include center();
        width: 100%;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0);

        .CloseButton {
          color: white;
          z-index: 3;
          position: absolute; 
          right: 10px;
          top: 10px;
          
          &:hover {
            cursor: pointer;
          }
        }
        
        .ContactModal {
          position: absolute;
          z-index: 2;
          height: 400px;
          width: 300px;
          border-radius: 10px;
          background-color: $primary;

          .InputDiv {
            width: 100%;
            height: 20%;
            @include center();
            grid-template-columns: 60% 40%;
            border-bottom: 1px solid grey;

            input {
              all: unset;
              border-radius: 999px;
              width: 80%;
              height: 40%;
              margin-left: auto;
              padding-left: 10px;
              padding-right: 10px;
              background-color: $inputColor;
            }

            button {
              all: unset;
              margin-right: auto;
              margin-left: 10% ;
              width: 60%;
              background-color: $inputColor;
              border-radius: 999px;
              text-align: center;
              padding: 5px;
              color: grey;
              &:hover {
                cursor: pointer;
              }
            }
          }

          .FoundContactsList {
            height: 80%;
            width: 100%;
            row-gap: 1%;

            .FoundContact {
              padding-bottom: 10px;
              border-bottom: 1px solid grey;
              color: $fontColor;

              div {
                margin: 5px;
              }

              .Info {
                width: fit-content;
                display: inline-block;
                height: 50%
              }

              .AddContact {
                float: right;
                background-color: $secondary;
                cursor: pointer;
                width: 20%;
                padding: 5px;
                text-align: center;
                border-radius: 5px;
              }
            }
          }
        }

        .UserNameModal {
          @extend .ContactModal;
          height: 100px;

          .InputDiv {
            all: unset;
            width: 100%;
            height: 100%;
            @include center();
            grid-template-columns: 60% 40%;

            button {
              height: 30%;
            }
          }

        }

        .OptionsModal {
          @extend .ContactModal;
          height: fit-content;
          @include center();
          padding: 10px 0;

          button {
            position: relative;
            all: unset;
            background-color: $inputColor;
            color: black;
            border-radius: 999px;
            padding: 5px;
            margin: 10px;
            &:hover {
              cursor: pointer;
            }
          }          
        }
        
        .RequestsModal {
          @extend .ContactModal;
          
          .Title {
            @include center();
            font-size: 125%;
            color: $fontColor;
            height: 12.5%;
          }
        
          .RequestList {
            height: 87.5%;
            width: 100%;
            row-gap: 1%;

            .Request {
              // padding-bottom: 10px;
              height: 12%;
              border-bottom: 1px solid grey;
              color: $fontColor;
              @include center();
              grid-template-columns: 45% 35% 20%;

              .Confirm {
                @include center();
                background-color: $secondary;
                cursor: pointer;
                width: 90%;
                height: 80%;
                text-align: center;
                border-radius: 5px;
              }
            }
          }
        }
      }
    }

    .Search{
      height: 10%;
      min-height: 50px;
      background-color: $secondary;
      @include center();
      border-bottom: solid 1px gray;
      border-right: solid 1px gray;

      input {
        all: unset;
        height: 50%;
        width: 90%;
        background-color: $primary;
        color: white;
        padding-left: 10px;
        padding-right: 10px;
        border-radius: 999px;
      }
    }

    .List {
      height: 80%;
      min-height: 500px;
      @include center();
      overflow-y: auto;
      overflow-x: hidden;
      scrollbar-width: thin;
      scrollbar-color: grey $secondary;
      grid-template-rows: repeat(8, 12.5%);
      grid-auto-rows: 12.5%;
      row-gap: 2px;

      &::-webkit-scrollbar{
        width: 0.5vw;
      }
      
      &::-webkit-scrollbar-track {
        background-color: #181c24;
      }
      &::-webkit-scrollbar-thumb {
        background-color: grey;
      }
      
      .Friend {
        background-color: #181c24;
        margin: 0 auto;
        height: 100%;
        width: 100%;
        border-bottom: 3px grey solid;
      }
    }
  }

  .Chat {
    background-color: black;
  }
}